body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;


  background: url("china.jpg");
  background-size: cover;

  
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background: #c00;
  color: white;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  flex: 1;
  padding: 20px;
}

footer {
  background: #eee;
  text-align: center;
  padding: 10px;
}
